@import "bulma";

html {
    height: 100%;
    background-image: url('/assets/sky.jpg');
    background-size: cover;
    background-position: center;
}

html, body {
    height: 100%;
}

/* top-contentを画面の上下中央に配置 */
.top-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

body {
    background-image: url('/assets/cafe.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
    body {
        background-size: contain;
    }
}

@media screen and (min-width: 769px) {
    body {
        background-size: cover;
    }
}

